# Database
DB_USER=postgres
DB_PASSWORD=shanvi@7
DB_NAME=task_manager
DATABASE_URL="postgresql://postgres:shanvi%407@localhost:5432/task_manager?schema=public"
# JWT
JWT_SECRET=appletomatoketchup

# Google OAuth
GOOGLE_CLIENT_ID=812897346004-c00ksrco292alokl3dacrmlldld2f07r.apps.googleusercontent.com

# URLs
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:8800
